# Virtual environment
geron-book-env/
.env/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Data
data/

# joblib files
models/*.joblib

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

